.header-container {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.15);
  }
  
  .header-container > div {
    display: flex;
    align-items: center;
    margin-left: 10vw;
  }
  
  .header-container > div > img {
    height: 10vh;
  }
  
  .header-container > img {
    height: 6vh;
    margin-left: 30vw;
  }

  h2 {
      position: absolute;
      margin-top: -50px;
    
  }